#regularization is use to improve model #y=200x1 + 500x2 + 0.5x3 + 0.005x4
#200x1 + 500x2 reduce the coefficient value for avoid overfitting problem
#Lasso Regularization /L1
#Ridge Regularization /L2

## Lasso Regularization /L1
#It work for feature selection

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [11]:
data=pd.read_csv("Salary.csv")
data.head(5)

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891